{% extends "@VSApplication/layout.html.twig" %}

{# Import Macros #}
{% import "@VSApplication/Macros/alerts.html.twig" as alerts %}
{% from "@VSApplication/Macros/pagination.html.twig" import pagination %}

{# Override Blocs #}
{% block title %}{{ parent() }} :: {{ 'game_platform.template.list_games' | trans( {},'GamePlatform' ) }}{% endblock %}
{% block pageTitle %}<i class="icon_genius"></i> {{ 'game_platform.template.list_games' | trans( {},'GamePlatform' ) }}{% endblock %}

{% block content %}
	<div class="row">
        <div class="accrodion-regular col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div id="accordion">
                {% for cat in categories %}
                    {% if not cat.parent and cat.games is not empty %}
                        {% set dataParent = '#accordion' %}
                        {% include 'admin-panel/Pages/Games/_table.html.twig' %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    {% include '@VSApplication/Partial/resource-delete.html.twig' %}
{% endblock %}

{% block head_styles %}
    {{ parent() }}
    
    {{ encore_entry_link_tags( 'js/games', null, 'CustomEntries' ) }}
{% endblock %}

{% block body_scripts %}
    {{ parent() }}
    
    {{ encore_entry_script_tags( 'js/games', null, 'CustomEntries' ) }}
{% endblock %}
