{% extends "@VSApplication/layout.html.twig" %}

{% block content %}
    <h1>Game</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ game.id }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{{ game.enabled ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ game.title }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ game.slug }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ game.position }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('vsapp_games_index') }}">back to list</a>

    <a href="{{ path('vsapp_games_update', {'id': game.id}) }}">edit</a>
{% endblock %}
