<!-- Portfolio Section-->
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        {% for cat in gameCategories %}
            {% if cat.games is not empty %}
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">{{ cat.name }}</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Grid Items-->
                <div class="row justify-content-center">
                    {% for game in cat.games %}
                        <!-- Portfolio Item {{ loop.index }}-->
                        <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                            <div class="portfolio-item mx-auto btnGame"
                                data-bs-toggle="modal" data-bs-target="#portfolioModal4"
                                data-url="http://{{ game.slug }}.{{ platformUrl }}"
                            >
                                <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                    <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                            {% if game.picture %}
                                <img class="img-fluid" src="{{ game.picture.path | imagine_filter( 'game_picture_thumb' ) }}" alt="{{ game.title }}" />
                            {% else %}
                                <img class="img-fluid" src="{{ asset('/build/game-platform/images/portfolio/game.png') }}" alt="{{ game.title }}" />
                            {% endif %}
                            
                                <div style="text-align:center; margin-top: 10px; font-size: 1rem; font-weight: bold;">{{ game.title }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
                {% if not loop.last %}<div class="divider-custom"></div>{% endif %}
            {% endif %}
        {% endfor %}
    </div>
</section>