{% extends "base.html.twig" %}

{% block title %}{{ parent() }} :: {{ 'game_platform.template.games.chess' | trans( {},'GamePlatform' ) }}{% endblock %}
{% block pageTitle %}{{ 'game_platform.template.games.chess' | trans( {},'GamePlatform' ) }}{% endblock %}

{% block content %}
    <div class="container text-center">
        <app-chess apiVerifySiganature="{{ apiVerifySiganature }}"></app-chess>
    </div>
{% endblock %}

{% block head_styles %}
    {{ parent() }}

    {{ encore_entry_link_tags( 'js/chess', null, 'GameplatformVelzonsaasTheme' ) }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags( 'js/chess', null, 'GameplatformVelzonsaasTheme' ) }}
{% endblock %}
