{% extends "base.html.twig" %}

{% block title %}{{ parent() }} :: {{ 'game_platform.template.games.backgammon' | trans( {},'GamePlatform' ) }}{% endblock %}
{% block pageTitle %}{{ 'game_platform.template.games.backgammon' | trans( {},'GamePlatform' ) }}{% endblock %}

{% block content %}
    <div class="container text-center game-container" id="GameContainer"
        data-locale="{{ app.request.locale }}"
        data-mercureEventSource="{{ mercure( '/game-play' ) | escape( 'html_attr' ) }}"
    >
        <app-backgammon></app-backgammon>
    </div>
{% endblock %}

{% block head_styles %}
    {{ parent() }}

    {{ encore_entry_link_tags( 'js/backgammon', null, 'GameplatformVelzonsaasTheme' ) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    {# Downloaded From: https://gist.githubusercontent.com/cboden/fcae978cfc016d506639c5241f94e772/raw/e974ce895df527c83b8e010124a034cfcf6c9f4b/autobahn.js #}
    <script type="text/javascript" src="{{ asset( 'build/gameplatform-velzonsaas-theme/cboden/autobahn.js' ) }}"></script>
    
    <script type="text/javascript">
        const gamePlatformSettings  = {{ ( gameSettings | json_encode | raw ) }};
        window.gamePlatformSettings = gamePlatformSettings;
    </script>
    
    {{ encore_entry_script_tags( 'js/backgammon', null, 'GameplatformVelzonsaasTheme' ) }}
{% endblock %}
