{% extends "base.html.twig" %}

{% block title %}{{ parent() }} :: {{ 'game_platform.template.games.contract_bridge' | trans( {},'GamePlatform' ) }}{% endblock %}
{% block pageTitle %}{{ 'game_platform.template.games.contract_bridge' | trans( {},'GamePlatform' ) }}{% endblock %}

{% block content %}
    <div class="container text-center" id="GameContainer"
        data-locale="{{ app.request.locale }}"
        data-mercureEventSource="{{ mercure( '/game-play' ) | escape( 'html_attr' ) }}"
    >
        <app-contract-bridge></app-contract-bridge>
    </div>
{% endblock %}

{% block head_styles %}
    {{ parent() }}

    {{ encore_entry_link_tags( 'js/contract-bridge', null, 'GameplatformVelzonsaasTheme' ) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    <script type="text/javascript">
        const gamePlatformSettings  = {{ ( gameSettings | json_encode | raw ) }};
        window.gamePlatformSettings = gamePlatformSettings;
    </script>
    
    {{ encore_entry_script_tags( 'js/contract-bridge', null, 'GameplatformVelzonsaasTheme' ) }}
{% endblock %}
